:root {
  --sidebar-width: 150px;
  --content-gap: 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

/* page login */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #f5f0ff;
  direction: rtl;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

label {
  direction: rtl;
}

input {
  width: 283px;
  border-radius: 8px;
  padding-right: 5px;
  direction: rtl;
  height: 32px;
  border: 2px solid #B0B0B0;
}

form p {
  color: red;
  display: none;
}



/* body */
html,
body {
  background-image: url(../img/backgroung.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100%;
}

.page {
  display: flex;
  min-height: 100%;


}

/* login page-part-left */
.part-left {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 2px rgba(0, 0, 0, 0.228) solid;
  width: 50%;
}

.part-left img {
  width: 331px;
  height: 170px;
}


/* صفحه اثبات الهويه */

.proof-part-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

}

/* عنوان الجنب اليمين */
.proof-part-right-titel {
  display: flex;
  gap: 10px;
}

.proof-part-right-titel-icon img {
  width: 2em;
  height: 2em;
}

/* عنوان ال otp */
.proof-part-right-div {
  direction: rtl;
  display: flex;
  flex-direction: column;
  position: relative;

}

.proof-part-right-div label {
  align-self: flex-start;
  text-align: right;
  width: 100%;
  margin-bottom: 10px;
}

.proof-part-right-div-icon {
  position: absolute;
  left: -55px;
  top: 0;
}

.proof-part-right-div-icon img {
  width: 1.2em;
  height: 1.2em;
}

/* رمز otp */
.proof-part-right-otp- {
  display: flex;
  gap: 10px;
  direction: rtl;
}

.otp-input {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: 2px solid transparent;
  background: #d9d9d9;
  font-size: 24px;
  text-align: center;
  outline: none;
  transition: 0.2s;
}

.otp-input:focus {
  border-color: #4a3cff;
  background-color: #ffffff;
}

/* ارسال الكود */

.proof-part-right-send {
  direction: rtl;
  position: relative;
}

.proof-part-right-send-icon {
  position: absolute;
  left: -85px;
  top: 0;
}

.proof-part-right-send-icon img {
  width: 1.2em;
  height: 1.2em;
}

/* تعديل الحساب */
.proof-part-right-edite {
  text-align: center;
}

.proof-part-right-edite a {
  color: black;
  text-decoration: underline;
  font-weight: bold;
}

/* الزرار */
.proof-part-right-buttom {

  position: relative;
  text-align: center;
}

.proof-part-right-buttom-icon {
  position: absolute;
  left: -65px;
}

.proof-part-right-buttom button {
  width: 283px;
  height: 32px;
  border-radius: 8px;
  background-color: #624ECC;
  border: 0;
  color: white;

}

.proof-part-right-buttom img {
  width: 1.2em;
  height: 1.2em;
}

* {
  box-sizing: border-box
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, Segoe UI, Tahoma, Arial;

  color: var(--text);
}


/* ================= inputs ================= */
input[type="text"] {
  height: 38px;
  border-radius: 8px;
  border: 1px solid #ddd;
  padding: 0 10px;
  font-size: 13px;
}